
.container {
    width: 1400px;
    padding: 15px;
    margin:0 auto;
    margin-top: 30px;
    margin-bottom: 100px;
 
 }

 .container-about {
    width: 1400px;
    padding: 15px 15px 0px 15px;
    margin:0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
 }



/* Header */


.header-homepage { 
    margin: 0;
}

.top-container {
    text-align: center;
}

.top-container img {
    padding-top: 20px;
    margin-right: 50px;
}



ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

a {
    display: block;
    text-align: center;
    padding: px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: rgb(190, 78, 148);
    font-size: 20px;
    font-weight: 600;
    font-style: semibold;
    margin-top: 100px;
}

.blog {
    margin-right: 70px;
}



.header-hr {
    background-color: rgb(190, 78, 148);;
    padding: 10px;
    border: 0;
    margin-top: 0;
    margin-bottom: 10px;
  }

/* Trabajos */

.main-title-homepage h1 { 
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 30px;
    font-weight: 600;
    font-style: semibold;
    padding-left: 120px;
}

.row-work {
    overflow: auto;
    margin: 20px 100px 20px 100px;
 }

 .column-work { 
    width: 25%;
    float: left;
 }
 
 .column-work img { 
    margin: 10px 10px 10px 10px;
 }

 /* About */

 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

 .main-title-about h1 { 
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 30px;
    font-weight: 600;
    font-style: semibold;
    padding-left: 120px;
}

.row-about {
    overflow: auto;
    margin: 20px 100px 20px 100px;
 }

 .column-about { 
    width: 50%;
    float: left;
 }

 .perfil {
    margin: 10px;
 }

 .column-about h1 {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 56px;
    font-weight: 400;
    font-style: regular;
    padding-top: 158px
 }

 .column-about p { 
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 300;
    font-style: light;
    margin-right: 40px;
 }

 .row-experience {
    overflow: auto;
    margin: 20px 100px 20px 100px;
 }

 .column-experience { 
    width: 50%;
    float: left;
 }

 .recuadro-experience {
    background-color:rgb(190, 78, 148);
    padding: 50px;
    margin: 10px 40px 10px 0px;
    border-radius: 20px;
 }

 .recuadro-experience h2 {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 24px;
    font-weight: 300;
    font-style: light;
    margin: 0;
    padding: 10px;
 }

 .recuadro-experience p { 
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 300;
    font-style: light;
    margin: 0;
    padding: 10px;
 }

/* Blog */

.main-title-blog h1 { 
   font-family: "Montserrat", sans-serif;
   color: black;
   font-size: 30px;
   font-weight: 600;
   font-style: semibold;
   padding-left: 120px;
}

.row-blog {
    overflow: auto;
    background-color: rgb(210, 174, 196);
    border-radius: 20px;
    margin: 30px 110px 50px 110px;
    padding: 60px 80px 60px 80px;
}

.column-blog { 
    width: 50%;
    float: left;
}

.column-blog h1 {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 32px;
    font-weight: 600;
    font-style: semibold;
    margin: 80px 0px 0px 0px;
    padding: 10px;
 }

.column-blog h2 {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 400;
    font-style: regular;
    margin: 0;
    padding: 10px;
 }

 .desc-blog { 
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 15px;
    font-weight: 300;
    margin: 0;
    padding: 10px;
 }

 .details-blog {
    float: right;
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 12px;
    font-weight: 400;
    text-align: right;
    margin: 20px 0px 0px 0px;
    padding: 10px;
 }

/* Contacto */

.main-title-contact h1 { 
   font-family: "Montserrat", sans-serif;
   color: black;
   font-size: 30px;
   font-weight: 600;
   font-style: semibold;
   padding-left: 120px;
   margin-bottom: 20px;
}

.contact {
   font-family: "Montserrat", sans-serif;
   color: black;
   font-size: 20px;
   font-weight: 500;
   margin: 0;
   padding-bottom: 20px;
   margin-top: 20px;
}

.social-img {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   margin: 40px 0px 40px 10px;
}

.follow {
   font-family: "Montserrat", sans-serif;
   color: black;
   font-size: 20px;
   font-weight: 500;
   margin-left: 15px;
   padding-bottom: 0px;
   margin-top: 20px;
}

 .row-me {
   overflow: auto;
   border-radius: 20px;
   margin: 30px 110px 50px 110px;
   padding: 0px 0px 60px 0px;
}

.column-me { 
   width: 50%;
   float: left;
}

.social-text {
   font-family: "Montserrat", sans-serif;
   color: black;
   font-size: 16px;
   font-weight: 400;
   margin: 0;
   padding: 10px;

}

/* Forms */

form input {
   width: 500px;
   height: 35px;
   border-radius: 20px;
   background-color: rgb(210, 174, 196);
   border-width: 0;
   padding-left: 20px;
   margin-top: 10px;
}

form textarea {
   width: 500px;
   height: 200px;
   border-radius: 20px;
   background-color: rgb(210, 174, 196);
   border-width: 0;
   padding: 10px 0px 0px 20px;
   margin-top: 10px;
}


.col-75 {
   margin-bottom: 20px;
}

.col-end {
   margin-bottom: 0px;
}

.row {
   font-family: "Montserrat", sans-serif;
   color: black;
   font-size: 16px;
   font-weight: 300;
}

.row-enviar input {
   font-family: "Montserrat", sans-serif;
   color: white;
   font-size: 16px;
   width: 200px;
   height: 35px;
   border-radius: 20px;
   background-color: rgb(190, 78, 148);
   margin: 0;
}



/* Footer */

.footer-container { 
    background-color: rgb(190, 78, 148);
    padding: 10px 50px 10px 50px;
    border: 0;
}

.row-footer {
    overflow: auto;
    margin: 20px 40px 0px 40px;
}

.column-footer { 
    width: 50%;
    float: left;
 }

 .social-footer {
    float: right;
    padding-top: 30px;
 }

 .social-footer-img {
    width: 190px;
    height: 34px;    
    padding: 0px 0px 10px 0px;
    float: right;
    margin-top:0px;
 }

 .mail-footer { 
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 600;
    font-style: semibold;
    text-align: right;
    
 }

 